# System files
.DS_Store

# Environment variables
.env

# Build directories
build/
dist/
coverage/
*.zip

# Dependencies
node_modules/

# Terraform
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.tfvars
.terraform/
*.plan
.terraform.lock.hcl

# Docker
docker-compose.override.yml

# Logs
*.log
